<div class="row">
    <div class="col-md-12">
        <h1>Crossroads-Group</h1>
        <h2>Take-Home Project</h2>
        <h3>Objective</h3>
        <p>The goal of this project will be to create a web application that shows git commit history for the project
            you&rsquo;re working on (looks a lot like recursion, huh?). You need to make many well-stated commits while
            working on this project and regularly push them up. You will need to sign up for a free GitHub account if
            you do not already have one, then create a public repository to store your work so that we will be able to
            see and review it. You can find documentation on the GitHub API here: https://developer.github.com/v3/. You
            can use the Angular, Vue, or React framework. We are currently looking for candidates that know Angular or
            TypeScript.</p>
        <h3>Requirements</h3>
        <ol>
            <li>You must use the GitHub API - while you could make a scraper or devise another method to get the git
                commit history of your project, we would like to see how you work with an existing API.</li>
            <li>Your GitHub repository must be public - this will allow us to look at it and verify the accuracy of
                your code. Once you complete this project, you will need to send over the link to your project to us
                with the email address provided below.</li>
            <li>The style of the page is up to you. Typically we use something like Bootstrap
                (http://getbootstrap.com) for a lot of our projects, then style it to meet the business want or need
                later on.</li>
            <li>You MUST provide instructions in the README on how to install and run your project. We will not infer
                anything, and if you do not include these instructions, we will reject your submission.</li>
        </ol>
        <p>Feel free to ask questions if you have any! Look forward to seeing your work!</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h1>From the author</h1>
        <p>The application uses a free unregistered version of the API, so there may be restrictions on the number of requests.</p>
        <p>All branches for testing are deliberately left in the repository.</p>
        <p>Many elements of IA can (and should) be improved.</p>
    </div>
</div>